body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
section{
    background-color: #003049;
    width: 90%;
    height: 500px;
    border: 5px solid #003049;
    display: flex;
}
#container1 {      
    flex-direction: row;
}
#container2 {
      flex-direction: row-reverse;
}
#container3 {

    flex-direction: column;
    
}
#container4 {

    flex-direction: column-reverse;
}
#container5 {      
    flex-direction: row;
    justify-content: space-evenly;
}
#container6 {
      flex-direction: row-reverse;
      justify-content: space-between;
}
#container7 {

    flex-direction: row;
    justify-content: center;
    
}
#container8 {

    flex-direction: row;
    justify-content: flex-end;
}
#container9 {      
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#container10 {
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
#container11 {

    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    
}
#container12 {

    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#container12 div{
    width: 450px;
}
section{
    margin: 10px auto;
}

div{
    width: 200px;
    height: 200px;
}
h2{
    margin: 100px auto 0 auto;
    font-size: 30px;
    text-align: center;
    border-top: 3px solid black;
    border-top-style:groove;
    border-radius: 1em;
    border-top-width: 0.2em;
    padding-top: 10px;
    padding-bottom:5px ;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
