<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbar.ejs') %>
            <h1>Your number: <%=rand%>
            </h1>
            <%if(rand %2===0){%>
                <h2>That's an even number!</h2>
                <% } else {%>
                    <h2>That's an odd number!</h2>
                    <% } %>

                        <h3>
                            <%= rand%2===0 ? "That's an even number!" : "That's an odd number!" %>
                        </h3>
    </body>

    </html>