html{
    font-size: 15px;
}
#one{
    background-color: darkorange;
    width: 200px;
    height: 200px;
}
#done{
    background-color: darkviolet;
    width: 50%;
    height: 50%;
}
h1{
    font-size: 40px;
}
#em h2{
    font-size: 1.5em;
    margin-left: 1em; /* It takes value of calculated font-size*/
}
#em{
    font-size: 30px;
}
#em p{
    font-size: 0.8em;
}
#em button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2e9d8f;
    color: white;
}

#em ul{
    font-size: 1.5em;
}
#rem h2{
    font-size: 3rem;
}
#rem h3{
    font-size: 2rem;
}
#rem ul{
    font-size: 1.5rem;
}
#rem p{
    font-size: 1.3rem;
}
#rem button{
    font-size: 1.5rem;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2e9d8f;
    color: white;
}